// drawerMenu style
@use '../foundation/_variables' as v;
@use '../foundation/_mixins' as mixins;

@include mixins.mobile-max {
  .l-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 100%;
  }

  .c-menu-icon {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
    height: 0.75rem;
    padding-top: 0.25rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      display: inline-block;
      width: 2rem;
      height: 2rem;
    }

    .navicon {
      position: relative;
      display: block;
      width: 2rem;
      height: 0.125rem;
      background: v.$primaryColor;
      transition: all .4s ease-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: v.$primaryColor;
        transition: all .4s ease-out;
      }

      &::before {
        top: 0.625rem;
      }

      &::after {
        top: -0.625rem;
      }
    }
  }

  .c-menu {
    overflow: hidden;
    min-height: 0;
    max-height: 0;
    transition: min-height 0.4s, max-height 0.4s;
    background-color: v.$lightColorRGBA-1;
    text-align: center;

    &__item {
      &:first-of-type {
        padding-top: 3.4375rem;
      }

      a {
        display: block;
        padding: 1.5rem 1.25rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;

        &:hover {
          color: v.$primaryColor;
        }
      }
    }
  }

  .c-menu-btn:checked {
    ~.c-menu {
      min-height: 100vh;
      max-height: 100vh;
      transition: min-height 0.4s, max-height 0.4s;
    }

    ~.c-menu-icon {
      .navicon {
        background: transparent;

        &::before,
        &::after {
          top: 0;
          right: -0.125rem;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }

}