meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
block title
meta(name="description", content="Design House Renovationsは、最高品質の住宅改装サービスを提供します。")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(rel="stylesheet", href="css/reset.css")
link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap", rel="stylesheet")
link(rel="stylesheet", href="css/style.css")
style.
  body::-webkit-scrollbar {
  display: none;
  }
  .visually-hidden  {
  display: none;
  }