header.l-header
  div.l-inner
    h1.c-logo
      a(href="index.html")
        img.c-logo__image(src="images/logo.svg", alt="Design House Renovationsのロゴ")
    nav.l-menu
      // 開閉checkbox
      input.c-menu-btn(type="checkbox", id="menu-btn", role="button", aria-label="メニューを開閉する", aria-expanded="false", aria-pressed="true")
      // 開閉icon
      label.c-menu-icon(for="menu-btn")
        span.navicon
      // menu
      - var menuItems = ['コンセプト', 'サービス', '施工の流れ', 'よくあるご質問', 'お問い合わせ']
      ul.c-menu(role="menubar")
        - var menuItems = [{name: 'コンセプト', link: 'concept'}, {name: 'サービス', link: 'service'}, {name: '施工の流れ', link: 'flow'}, {name: 'よくあるご質問', link: 'faq'}, {name: 'お問い合わせ', link: 'contact'}]
        each item in menuItems
          li.c-menu__item(role="menuitem")
            a(href="#" + item.link)= item.name